@model IEnumerable<Final_Project.Models.AppUser>

@{
    ViewData["Title"] = "SeeAllFired";
}
<br>

<h1>Fired Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    <a asp-action="ChangeOtherAccount" asp-route-id="@item.Email">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Email">Details</a> |
                    <a asp-action="ChangeOtherPassword" asp-route-id="@item.Email">Change Password</a> |
                    <a asp-action="Rehire" asp-controller="RoleAdmin" asp-route-userId="@item.Id">Rehire</a>
                </td>
            </tr>
        }
    </tbody>
</table>
