@model Final_Project.Models.MovieOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovieOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfirmationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isGift)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isGift)
        </dd>
        @if (Model.isGift == true)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Recipient)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Recipient.FullName)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOrdered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOrdered)
        </dd>

    </dl>
</div>
<h5>Tickets on this Order</h5>
<table class="table table-primary">
    <tr>
        <th>Movie Name</th>
        <th>Ticket Price</th>
        <th>Type of Price</th>
        <th>Seat Number</th>
        <th>Show Time</th>
    </tr>
    @foreach (Ticket ti in Model.Tickets)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => ti.MovieShowing.Movie.Title)</td>
            <td>@Html.DisplayFor(ModelItem => ti.TicketPrice)</td>
            <td>@Html.DisplayFor(ModelItem => ti.Discount)</td>
            <td>@Html.DisplayFor(ModelItem => ti.Seat)</td>
            <td>@Html.DisplayFor(ModelItem => ti.MovieShowing.StartTime)</td>
        </tr>
    }
</table>

<h5>Movie Order Summary</h5>
<table class="table table-sm table-bordered" style="width:30%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>Order Subtotal:</td>
        <td>@Html.DisplayFor(model => model.SubTotal)</td>
    </tr>
    <tr>
        <td>Tax:</td>
        <td>@Html.DisplayFor(model => model.Tax)</td>
    </tr>
    <tr>
        <td>Senior Discount:</td>
        <td>@Html.DisplayFor(model => model.OrderDiscount)</td>
    </tr>
    <tr>
        <td>Using Popcorn Points:</td>
        <td>@Html.DisplayFor(model => model.UsingPopcornPoints)</td>
    </tr>
    @if (Model.UsingPopcornPoints == true)
    {
        <tr>
            <td>Popcorn Points Paid:</td>
            <td>@Html.DisplayFor(model => model.PopcornPointsCost)</td>
        </tr>
    }
    <tr>
        <td>Order Total:</td>
        <td>@Html.DisplayFor(model => model.Total)</td>
    </tr>

</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

