@model IEnumerable<Final_Project.Models.Ticket>

@{
    ViewData["Title"] = "Report";
}
<br>

<h1>Popcorn Tickets Report</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowing.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowing.Movie.ReleaseDate)
            </th>
            <th>
                Movie Showing Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieOrder.Customer.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieOrder.DateOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieOrder.OrderStatus)
            </th>
            <th>
                Showing Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieShowing.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieShowing.Movie.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieShowing.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieOrder.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieOrder.DateOrdered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieOrder.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieShowing.ShowingStatus)
                </td>

            </tr>
        }
    </tbody>
</table>
